@import "libs/reset.scss";
@import "libs/_steack.scss";
@import "libs/_pain.scss";
@import "libs/_salade.scss";
@import "libs/_tomate.scss";
@import "libs/_fromage.scss";
body {
    background: rgb(255, 252, 172);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.burger_cuit {
<<<<<<< HEAD
    width: 500px;
    height: 800px;
    border: solid 1px black;
=======
    width: 30%;
>>>>>>> 1fde0cd623a5821bca2c9ab906d2f8409fba57db
}