@import "libs/reset.scss";
@import "libs/_steack.scss";
@import "libs/_pain.scss";
@import "libs/_salade.scss";
@import "libs/_tomate.scss";
@import "libs/_fromage.scss";

body {
    background: rgb(255, 252, 172);
}
.salade{
    height: 20px;
    width: 100%;
    background-color: green;
}
