@import "libs/reset.scss";
@import "libs/_steack.scss";
@import "libs/_pain.scss";
@import "libs/_salade.scss";
@import "libs/_tomate.scss";
@import "libs/_fromage.scss";
body {
    background: rgb(255, 252, 172);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.burger_cuit, .burger_cru {
    width: 300px;
}